<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Credit Card Validation Demo</title>

    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <style>
      .creditCardForm {
        max-width: 700px;
        background-color: #fff;
        margin: 100px auto;
        overflow: hidden;
        padding: 25px;
        color: #4c4e56;
      }
      .creditCardForm label {
        width: 100%;
        margin-bottom: 10px;
      }
      .creditCardForm .heading h1 {
        text-align: center;
        font-family: "Open Sans", sans-serif;
        color: #4c4e56;
      }
      .creditCardForm .payment {
        float: left;
        font-size: 18px;
        padding: 10px 25px;
        margin-top: 20px;
        position: relative;
      }
      .creditCardForm .payment .form-group {
        float: left;
        margin-bottom: 15px;
      }
      .creditCardForm .payment .form-control {
        line-height: 40px;
        height: auto;
        padding: 0 16px;
      }
      .creditCardForm .owner {
        width: 63%;
        margin-right: 10px;
      }
      .creditCardForm .CVV {
        width: 35%;
      }
      .creditCardForm #card-number-field {
        width: 100%;
      }
      .creditCardForm #expiration-date {
        width: 49%;
      }
      .creditCardForm #credit_cards {
        width: 50%;
        margin-top: 25px;
        text-align: right;
      }
      .creditCardForm #pay-now {
        width: 100%;
        margin-top: 25px;
      }
      .creditCardForm .payment .btn {
        width: 100%;
        margin-top: 3px;
        font-size: 24px;
        background-color: #2ec4a5;
        color: white;
      }
      .creditCardForm .payment select {
        padding: 10px;
        margin-right: 15px;
      }
      .transparent {
        opacity: 0.2;
      }
      @media (max-width: 650px) {
        .creditCardForm .owner,
        .creditCardForm .CVV,
        .creditCardForm #expiration-date,
        .creditCardForm #credit_cards {
          width: 100%;
        }
        .creditCardForm #credit_cards {
          text-align: left;
        }
      }
    </style>
  </head>

  <body>
    <div class="creditCardForm">
      <div class="heading" style="background-color: red;">
        <h1 style=" color:white">
          card payment system is not active yet</h1>
      </div>
      <div class="heading">
        <h1>Confirm Purchase</h1>
      </div>
      <div class="payment">
        <form method="post">
          <div class="form-group owner">
            <label for="owner">Owner</label>
            <input name="owner" type="text" class="form-control" id="owner" />
          </div>
          <div class="form-group CVV">
            <label for="cvv">CVV</label>
            <input name="cvv" type="text" class="form-control" id="cvv" />
          </div>
          <div class="form-group" id="card-number-field">
            <label for="cardNumber">Card Number</label>
            <input name="cardNumber" type="text" class="form-control" id="cardNumber" />
          </div>
          <div class="form-group" id="expiration-date">
            <label>Expiration Date</label>
            <select name="exp_month">
              <option value="01">January</option>
              <option value="02">February</option>
              <option value="03">March</option>
              <option value="04">April</option>
              <option value="05">May</option>
              <option value="06">June</option>
              <option value="07">July</option>
              <option value="08">August</option>
              <option value="09">September</option>
              <option value="10">October</option>
              <option value="11">November</option>
              <option value="12">December</option>
            </select>
            <select name="exp_year">
              <option value="16">2016</option>
              <option value="17">2017</option>
              <option value="18">2018</option>
              <option value="19">2019</option>
              <option value="20">2020</option>
              <option value="21">2021</option>
            </select>
          </div>
          <div class="form-group" id="credit_cards">
            <img src="/uploads/visa.jpg" id="visa" />
            <img src="/uploads/mastercard.jpg" id="mastercard" />
            <img src="/uploads/amex.jpg" id="amex" />
          </div>
          <div class="form-group" id="pay-now">
            <button type="submit" class="btn btn-default" id="confirm-purchase">
              Confirm
            </button>
          </div>
        </form>
      </div>
    </div>

    <!-- The HTML for our form will go here -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="assets/js/jquery.payform.min.js" charset="utf-8"></script>
    <script>
      var owner = $("#owner"),
        cardNumber = $("#cardNumber"),
        cardNumberField = $("#card-number-field"),
        CVV = $("#cvv"),
        mastercard = $("#mastercard"),
        confirmButton = $("#confirm-purchase"),
        visa = $("#visa"),
        amex = $("#amex");
      cardNumber.payform("formatCardNumber");
      CVV.payform("formatCardCVC");
      cardNumber.keyup(function () {
        amex.removeClass("transparent");
        visa.removeClass("transparent");
        mastercard.removeClass("transparent");

        if ($.payform.validateCardNumber(cardNumber.val()) == false) {
          cardNumberField.removeClass("has-success");
          cardNumberField.addClass("has-error");
        } else {
          cardNumberField.removeClass("has-error");
          cardNumberField.addClass("has-success");
        }

        if ($.payform.parseCardType(cardNumber.val()) == "visa") {
          mastercard.addClass("transparent");
          amex.addClass("transparent");
        } else if ($.payform.parseCardType(cardNumber.val()) == "amex") {
          mastercard.addClass("transparent");
          visa.addClass("transparent");
        } else if ($.payform.parseCardType(cardNumber.val()) == "mastercard") {
          amex.addClass("transparent");
          visa.addClass("transparent");
        }
      });
      confirmButton.click(function (e) {
        e.preventDefault();

        var isCardValid = $.payform.validateCardNumber(cardNumber.val());
        var isCvvValid = $.payform.validateCardCVC(CVV.val());

        if (owner.val().length < 5) {
          alert("Wrong owner name");
        } else if (!isCardValid) {
          alert("Wrong card number");
        } else if (!isCvvValid) {
          alert("Wrong CVV");
        } else {
          // Everything is correct. Add your form submission code here.
          alert("Everything is correct");
        }
      });
    </script>
  </body>
</html>
