<!DOCTYPE html>
<html>
  <%- include('partials/head.ejs') %>
  <body class="sub_page">
    <div class="hero_area">
      <!-- header section strats -->
      <%- include('partials/user_header.ejs') %>
      <!-- end header section -->
    </div>
    <!-- inner page section -->
    <section class="inner_page_head">
      <div class="container_fuild">
        <div class="row">
          <div class="col-md-12">
            <div class="full">
              <h3>Contact us</h3>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end inner page section -->
    <!-- why section -->
    <section class="why_section layout_padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 offset-lg-2">
            <div class="full">
            
                

              
              <form action="" method="post">
                <fieldset>
                  <input
                    type="text"
                    placeholder="Enter your full name"
                    name="fullname"
                    required
                  />
                  <input
                    type="text"
                    placeholder="Enter subject"
                    name="subject"
                    required
                  />
                  <textarea
                    placeholder="Enter your message"
                    name="message"
                    required
                  ></textarea>
                  <input type="submit" value="Submit" />
                </fieldset>
              </form>
              
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end why section -->
    <!-- arrival section -->
    <section class="arrival_section">
      <div class="container">
        <div class="box">
          <div class="arrival_bg_box">
            <img src="/uploads/arrival-bg.png" alt="" />
          </div>
          <div class="row">
            <div class="col-md-6 ml-auto">
              <div class="heading_container remove_line_bt">
                <h2>#NewArrivals</h2>
              </div>
              <p style="margin-top: 20px; margin-bottom: 30px">
                Vitae fugiat laboriosam officia perferendis provident aliquid
                voluptatibus dolorem, fugit ullam sit earum id eaque nisi hic?
                Tenetur commodi, nisi rem vel, ea eaque ab ipsa, autem similique
                ex unde!
              </p>
              <a href=""> Shop Now </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end arrival section -->
    <!-- footer section start here -->
    <%- include('partials/footer1.ejs') %>
    <!-- footer section -->
    <!-- jQery -->
    <script src="/public/js/jquery-3.4.1.min.js"></script>
    <!-- popper js -->
    <script src="/public/js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="/public/js/bootstrap.js"></script>
    <!-- custom js -->
    <script src="/public/js/custom.js"></script>
    <script>
      const inp = document.querySelector(".searching");
      inp.style.display = "none";
      const btn = document.getElementById("srching");
      btn.addEventListener("click",(e)=>{
         if(inp.style.display == "none"){
            inp.style.display = "block"

         }
         else{
            inp.style.display = "none"
         }
      })


     </script>
  </body>
</html>